In [1]:
#display two messages
print('learning python now!')
print('python is fun')

learning python now!
python is fun

In [2]:
#display two messages
 print('learning python now!')
print('python is fun')

IndentationError: unexpected indent (<ipython-input-2-dc08e6ac9b5e>, line 2)

In [3]:
#display two messages
print('learning python now!');
print('python is fun');

learning python now!
python is fun

In [4]:
print(learning Python now!)

SyntaxError: invalid syntax (<ipython-input-4-54f1bb84cfc2>, line 1)

In [5]:
print(1/0)

ZeroDivisionError: division by zero

In [6]:
#Convert Fahrenheit to Celsius
print('Fahrenheit 80 is Celsius degree')
print(5/9*80-32)

Fahrenheit 80 is Celsius degree
12.444444444444443

In [7]:
#Convert Fahrenheit to Celsius
print('Fahrenheit 80 is Celsius degree')
print(5/9*(80-32))

Fahrenheit 80 is Celsius degree
26.666666666666668

In [16]:
#Convert miles to Kilometers
print('mile 96 is kilometer')
print(96*1.6)

mile 96 is kilometer
153.60000000000002

In [32]:
print("Hello,Python')
print(Hello,Python)
 print('Hello,Python!')

SyntaxError: EOL while scanning string literal (<ipython-input-32-1476ec8ba427>, line 1)

In [35]:
PRINT("Hello,Python")
 print('Hello,Python')
  print('Hello,Python!');

IndentationError: unexpected indent (<ipython-input-35-a982bfe9c05c>, line 2)

In [43]:
@Convert Fahrenheit to ceisius
print('Fahrenheit 212 is Celsius degree')
 print(5/9*212-32)

SyntaxError: invalid syntax (<ipython-input-43-e2a1a06e1e38>, line 1)

In [36]:
print('Learning Python now!")
printf('Python is fun')
write('Python is a good programming language')

SyntaxError: EOL while scanning string literal (<ipython-input-36-2934580aa161>, line 1)

In [42]:
"
我的第一個python程式
"
printf('Python is fun!')
println(Learning Python now!)

SyntaxError: EOL while scanning string literal (<ipython-input-42-714140563142>, line 1)

In [45]:
print(12345)

12345

In [46]:
print(123.456)

123.456

In [47]:
print("learning Python now!")

learning Python now!

In [48]:
print('learning Python now!')

learning Python now!

In [51]:
print('Python is fun')
print('Let's go')

Python is fun
Let's go

In [52]:
print('Python is fun')
print('Let\'s go')

Python is fun
Let's go

In [54]:
print('\\n is skip a line')

\n is skip a line

In [55]:
print('Learning Python now!\nPython is fun')

Learning Python now!
Python is fun

In [57]:
print('Learning Python now!')
print('Python is fun')

Learning Python now!
Python is fun

In [59]:
print("｜\tHello,world｜")

｜	Hello,world｜

In [60]:
print('｜Hello,\tworld｜')

｜Hello,	world｜

In [61]:
print('\\n is skip a line')

\n is skip a line

In [62]:
print('\"Hello,everyone\"')

"Hello,everyone"

In [63]:
print('Radius=',12)

Radius= 12

In [64]:
print('Hello,')
print('world')

Hello,
world

In [66]:
print('Hello,',end = '')
print('world')

Hello,world

In [67]:
print('Hello,','world')

Hello, world

In [68]:
print('Hello,',end='***')
print('world')

Hello,***world

In [75]:
print('***Hello,world',end='***')
print('')
print('Hello,Python')
print('excellent')

***Hello,world***
Hello,Python
excellent

In [76]:
print('***Hello,world***')
print('Hello,Python')
print('excellent')

***Hello,world***
Hello,Python
excellent

In [78]:
print(format(100,'8d'))

     100

In [79]:
print(format(100000,'3d'))

100000

In [80]:
print(format(100,'8x'))
print(format(100,'8o'))
print(format(100,'8b'))

      64
     144
 1100100

In [81]:
print(format(0.2389,'6.2%'))

23.89%

In [82]:
print(format(123.456,'8.2f'))

  123.46

In [83]:
print(format('Python is fun','15s'))

Python is fun

In [84]:
print(format('Python is fun','>15s'))

  Python is fun

In [88]:
print(format(12345,'10d'))
print(format(12345,'<10d'))

     12345
12345

In [90]:
print(format(12345,'^11d'))

   12345

In [92]:
print(12345,12,1234567)
print(12,123,1234567)
print(123,1234567,12345)

12345 12 1234567
12 123 1234567
123 1234567 12345

In [94]:
print(format(12345,'10d'))
print(format(12,'10d'))
print(format(1234567,'10d'))

print(format(12,'10d'))
print(format(123,'10d'))
print(format(1234567,'10d'))

print(format(123,'10d'))
print(format(1234567,'10d'))
print(format(123,'10d'))

     12345
        12
   1234567
        12
       123
   1234567
       123
   1234567
       123

In [96]:
print(format(12345,'10d'),end='')
print(format(12,'10d'),end='')
print(format(1234567,'10d'))

print(format(12,'10d'),end='')
print(format(123,'10d'),end='')
print(format(1234567,'10d'))

print(format(123,'10d'),end='')
print(format(1234567,'10d'),end='')
print(format(123,'10d'))

     12345        12   1234567
        12       123   1234567
       123   1234567       123

In [97]:
print(format(12345,'10d'),format(12,'10d'),format(1234567,'10d'))
print(format(12,'10d'),format(123,'10d'),format(1234567,'10d'))
print(format(123,'10d'),format(1234567,'10d'),format(123,'10d'))

     12345         12    1234567
        12        123    1234567
       123    1234567        123

In [100]:
print('%格式指定器','%(項目)')

%格式指定器 %(項目)

In [102]:
print('%10d'%(12345))

     12345

In [103]:
print('｜%10d｜'%(12345))

｜     12345｜

In [104]:
print('｜%3d｜'%(12345))

｜12345｜

In [1]:
print('｜%-10d｜'%(12345))

｜12345     ｜

In [7]:
#第一個%是指定個是給第二個%
#8代表欄寬
#.2f是指求到小數第二位
print('|%8.2f|'%(123.456))
print('|%8.2f|'%(1.23456))
print('|%8.2f|'%(1234.56))
print('|%8.2f|'%(12.3456))
print('|%8.2f|'%(12345.6))

|  123.46|
|    1.23|
| 1234.56|
|   12.35|
|12345.60|

In [8]:
print('|%.2f|'%(123.456))
print('|%.2f|'%(1.23456))
print('|%.2f|'%(1234.56))
print('|%.2f|'%(12.3456))
print('|%.2f|'%(12345.6))

|123.46|
|1.23|
|1234.56|
|12.35|
|12345.60|

In [10]:
print('|%30s|'%('Learning Python now!'))
print('|%-30s|'%('Learning Python now!'))
print('|%15s|'%('Learning Python now!'))

|          Learning Python now!|
|Learning Python now!          |
|Learning Python now!|

In [14]:
print('width=%2d,height=%2d,area=%3d'%(5,7,24))

width= 5,height= 7,area= 24

In [15]:
print('%10d%10d%10d'%(12345,12,1234567))
print('%10d%10d%10d'%(12,123,1234567))
print('%10d%10d%10d'%(123,1234567,123))

     12345        12   1234567
        12       123   1234567
       123   1234567       123

In [18]:
print('%d%%orange juice'%(100))

100%orange juice

In [17]:
print('{0}'.format('項目'))

項目

In [20]:
print('{0},{1}'.format('項目1','項目2'))

項目1,項目2

In [21]:
print('{0}'.format(123))

123

In [22]:
print('{0},{1}'.format(123,12345))

123,12345

In [23]:
print('{0:5d},{1:7d}'.format(123,12345))

  123,  12345

In [24]:
print('x={0:5d},y={1:7d}'.format(123,12345))

x=  123,y=  12345

In [25]:
print('x={p:5d},y={q:7d}'.format(p=123,q=12345))

x=  123,y=  12345

In [27]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('|%10d %9d %9d|'%(12,1234567,123))
print('|%10d %9d %9d|'%(1234567,123,12345))

|     12345        12   1234567|
|        12   1234567       123|
|   1234567       123     12345|

In [28]:
print(format('Department','12s'))
print(format('of','12s'))
print(format('Computer','12s'))
print(format('Science','12s'))
print()

Department
of
Computer
Science

In [29]:
print(format('Department','>12s'))
print(format('of','>12s'))
print(format('Computer','>12s'))
print(format('Science','>12s'))

  Department
          of
    Computer
     Science

In [30]:
print(format(123.456,'10.2f'))
print(format(12345.678,'10.2f'))

    123.46
  12345.68

In [31]:
print('i=%d'%(100))
print('i=%d,j=%d'%(100,200))

i=100
i=100,j=200

In [32]:
print('Price:$%8.2f'%(356.08977))
print('%10.2f%10.2f'%(123.456,345.789))
print('%10.2f%5d'%(123.456,100))
print('radius=%d,area=%7.2f'%(5,5*5*3.14159))
print('Raidus:{a:3d},Area:{b:10.2f}'.format(a=5,b=5*5*3.14159))

Price:$  356.09
    123.46    345.79
    123.46  100
radius=5,area=  78.54
Raidus:  5,Area:     78.54

In [36]:
print('%.2f degree Celsius in Fahrenheit \ is%.2f'%(3.25,3.25*1.8+32))
print('%.2f degree Fahrenhe in Celsiusit \ is%.2f'%(94.5,(94.5-32)/1.8))

3.25 degree Celsius in Fahrenheit \ is37.85
94.50 degree Fahrenhe in Celsiusit \ is34.72

In [37]:
print('%-15s%-10s'%('Month','Amount'))
print('%-15d%-10.2f'%(1,43400.2))
print('%-15d%-10.2f'%(2,45430.28))
print('%-15d%-10.2f'%(3,48030.48))
print('%-15d%-10.2f'%(4,51112.96))
print('%-15d%-10.2f'%(5,52857.2))

Month          Amount
1              43400.20
2              45430.28
3              48030.48
4              51112.96
5              52857.20

In [46]:
print('%-6s%-6s'%('Using','format'))
print('%-6s%5s'%('123','45'))
print('%-6s%8s'%('123456','78901'))

Using format
123      45
123456   78901

In [47]:
print('%-6s%-6s'%('Using','.format'))
print('%-6s%5s'%('123','45'))
print('%-6s%8s'%('123456','78901'))

Using .format
123      45
123456   78901

In [48]:
print('%-6s%-5s'%('Using','%'))
print('%-6s%5s'%('123','45'))
print('%-6s%8s'%('123456','78901'))

Using %
123      45
123456   78901

In [2]:
print('Member{0:7s},discount{1:3.2f}'.format('Karen',0.35))
print('Member{0:7s},discount{1:3.2f}'.format('Sammy',0.4))
print('Member{0:7s},discount{1:3.2f}'.format('JoJo',0.42))

MemberKaren  ,discount0.35
MemberSammy  ,discount0.40
MemberJoJo   ,discount0.42

In [5]:
print('%20s %-20s'%('tall','short'))
print('%20s %-20s'%('strong','weak'))
print('%20s %-20s'%('think','thin'))

                tall short
              strong weak
               think thin

In [6]:
print('%20s %-20s'%('Apple\'s Products:','iPhone'))
print('%20s %-20s'%('','iMac'))
print('%20s %-20s'%('','Apple Watch'))
print('%20s %-20s'%('','...'))

   Apple's Products: iPhone
                     iMac
                     Apple Watch
                     ...

In [8]:
print('%-15s %7s'%('City','Celsius'))
print('%-15s %7.2f'%('Taipei',33.2))
print('%-15s %7.2f'%('Yilan',32.93))
print('%-15s %7.2f'%('MiaoLi',32.29,))
print('%-15s %7.2f'%('Taichung',32.48))
print('%-15s %7.2f'%('HuaLian',33.87))

City            Celsius
Taipei            33.20
Yilan             32.93
MiaoLi            32.29
Taichung          32.48
HuaLian           33.87

In [9]:
print('|%6d %6d %6d %6d|'%(22,44,66,88))
print('|%-6d %-6d %-6d %-6d|'%(33,55,77,99))
print('|%6d %6d %6d %6d|'%(222,444,666,888))
print('|%-6d %-6d %-6d %-6d|'%(333,555,777,999))

|    22     44     66     88|
|33     55     77     99    |
|   222    444    666    888|
|333    555    777    999   |

In [11]:
print('-'*9)
print('Learning Python now***')
print('Python is fun$$$')
print('-'*9)

---------
Learning Python now***
Python is fun$$$
---------

In [16]:
print('%-6s%-6s'%('Using','format'))
print('%-11s%5s'%('123.46','45.68'))
print('%-11s%2s'%('123456.79','78901.23'))

Using format
123.46     45.68
123456.79  78901.23

In [17]:
print('%-6s%-6s'%('Using','.format'))
print('%-11s%5s'%('123.46','45.68'))
print('%-11s%2s'%('123456.79','78901.23'))

Using .format
123.46     45.68
123456.79  78901.23

In [18]:
print('%-6s%-6s'%('Using','%'))
print('%-11s%5s'%('123.46','45.68'))
print('%-11s%2s'%('123456.79','78901.23'))

Using %
123.46     45.68
123456.79  78901.23

In [19]:
print('|%3d|'%(12345))

|12345|

In [20]:
print('|%5d|'%(12345))

|12345|

In [21]:
print('|%8d|'%(12345))

|   12345|

In [22]:
print('|%f|'%(123.456))

|123.456000|

In [23]:
print('|%5.2f|'%(123.456))

|123.46|

In [24]:
print('|%10.2f|'%(123.456))

|    123.46|

In [25]:
print('|%.2f|'%(123.456))

|123.46|

In [26]:
print('|%10s|'%('Apple'))

|     Apple|

In [27]:
print('|%-8d|'%(12345))

|12345   |

In [28]:
print('|%-10.2f|'%(123.456))

|123.46    |

In [30]:
print('|%-10s|'%('Apple'))

|Apple     |

In [1]:
a=7+8*2-6+8/2
print(a)
b=(7+8)*2-(6+8)/2
print(b)

21.0
23.0

In [2]:
str1='Learning Python '+'is fun'
print(str1)

Learning Pythonis fun

In [8]:
str2='Learning Python '+ \
'is fun'
print(str2)

Learning Python is fun

In [11]:
Q1='is your birthday in set1?\n'+\
'1  3  5  7\n'+\
'9  11 13 15\n'+\
'17 19 21 23\n'+\
'25 27 29 31\n'+\
'\n Enter 1 for Yes and 0 for No:'
print(Q1)

is your birthday in set1?
1  3  5  7
9  11 13 15
17 19 21 23
25 27 29 31

 Enter 1 for Yes and 0 for No:

In [12]:
print('Hello,World')
print('Hello,',end='')
print('World')
s='Hello,'+\
'World'
print(s)

Hello,World
Hello,World
Hello,World

In [13]:
8/3

2.6666666666666665

In [14]:
8//3
#商

2

In [15]:
8**2
#平方

64

In [16]:
100**0.5
#開根號

10.0

In [17]:
8%3
#餘數

2

In [18]:
i=100
j=100
k=100
str1='Learning Python'+'is fun'
print(i,j,k)

100 100 100

In [19]:
i=j=k=200
print(i,j,k)

200 200 200

In [20]:
a,b=100,200
print(a,b)

100 200

In [22]:
a=100
b=200
a=b
b=a
print(a,b)

200 200

In [23]:
a=100
b=200
temp=a
a=b
b=temp
print(a,b)

200 100

In [24]:
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [25]:
a=10
a+=2
print(a)

12

In [26]:
a*=5
print(a)

60

In [27]:
a//=3
print(a)

20

In [28]:
a%=6
print(a)

2

In [29]:
k=eval(input())

3

In [30]:
print(k)

3

In [31]:
s=eval(input('Please enter an integer:'))

Please enter an integer:45

In [32]:
s

45

In [49]:
s2=input('Please enter a string:')

Please enter a string:Hello,worls

In [50]:
s2

'Hello,worls'

In [51]:
print(s2)

Hello,worls

In [52]:
str2=input('Please enter an integer:')

Please enter an integer:88

In [53]:
print(str2)

88

In [54]:
str2

'88'

In [55]:
type(str2)

str

In [56]:
str2=input('Please enter an integer:')

Please enter an integer:88

In [57]:
num=str2+100
print(num)

TypeError: can only concatenate str (not "int") to str

In [58]:
str2=eval(input('Please enter an integer:'))

Please enter an integer:88

In [59]:
num=str2+100
print(num)

188

In [60]:
n1=eval(input('Please enter n1:'))

Please enter n1:100

In [61]:
n2=eval(input('Please enter n2:'))

Please enter n2:200

In [62]:
print(n1+n2)

300

In [1]:
n1,n2=eval(input('Enter two n separated by comma:'))

Enter two n separated by comma:100,200

In [2]:
print(n1+n2)

300

In [3]:
n1,n2,n3=eval(input('Enter three n separated by commas:'))
total=n1+n2+n3
average=total/3
print('total=%d,and average=%f'%(total,average))

Enter three n separated by commas:100,150,170
total=420,and average=140.000000

In [4]:
print('total=%d,and average=%.2f'%(total,average))

total=420,and average=140.00

In [1]:
radius=eval(input('Enter the radius:'))
area=radius*radius*3.14159
perimeter=2*3.14159*radius
print('Area=%.2f'%(area))
print('Perimeter=%.2f'%(perimeter))

Enter the radius:5
Area=78.54
Perimeter=31.42

In [2]:
import math
radius=eval(input('Enter the radius:'))
area=radius*radius*math.pi
perimeter=2*math.pi*radius
print('Area=%.2f'%(area))

Enter the radius:5
Area=78.54

In [3]:
a=100
b=200
c,d=a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [5]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='')
print(d,end='***')
print('Over')

100 200
100200***Over

In [6]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end='***')
print('Over')

100 200
100$and
200***Over

In [7]:
x=100
y=3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

300
33.333333333333336
33
1
1000000
10.0

In [9]:
str1='Hello,'
str2="Python"
str3=str1+str2
print(str3)
a=100
b=200
c=a+b
print(c)

Hello,Python
300

In [10]:
str='Hello,'+\
'Python,Let\'s learning'
str2="Python now"
str3=str1+str2
print(str3)

Hello,Python now

In [11]:
a=100
b=3
a//=b  #a//b=a
print(a)

a=100
a%=b  #a%b=a
print(a)

a=100
a/=b  #a/b=a
print(a)

33
1
33.333333333333336

In [12]:
a=100
b=200
print(a,b)

b,a=a,b
print(a,b)

100 200
200 100

In [13]:
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [14]:
a=eval(input('Enter an integer:'))
b=a+100
print(a,b)

str1=input('Enter a string:')
str2=str1+'i8'
print(str2)

Enter an integer:5
5 105
Enter a string:HI
HIi8

In [16]:
41/5

8.2

In [17]:
41//5

8

In [18]:
41%5

1

In [19]:
50%5

0

In [20]:
1%2

1

In [21]:
35%3

2

In [22]:
45+4*3-12

45

In [24]:
45+34%3*(21*3%2)

46

In [25]:
6**3-21

195

In [26]:
100**0.5*2-29

-9.0

In [28]:
#output1
print(1,end='')
print(22,end='*****')
print(333)
print()

122*****333

In [29]:
#output2
print(1,end='$')
print(22,end='@@@@@')
print(333)
print('Over')

1$22@@@@@333
Over

In [51]:
n1,n2,n3,n4,n5=eval(input('Enter five n separated by commas:'))
Sum=n1+n2+n3+n4+n5
Average=Sum/5
print(n1,n2,n3,n4,n5)
print('sum=%d\naverage=%.1f'%(Sum,Average))

Enter five n separated by commas:n1,n2,n3,n4,n5
20 40 60 80 100
sum=300
average=60.0

In [52]:
abs(-100)

100

In [53]:
max(12,23,100,58,60)

100

In [54]:
min(12,23,100,58,60)

12

In [55]:
pow(2,5)

32

In [56]:
round(6.6)

7

In [57]:
round(5.5)

6

In [58]:
round(4.5)

4

In [59]:
round(6.667,2)

6.67

In [60]:
round(6.663,2)

6.66

In [61]:
int(12.34)

12

In [63]:
ans=8.5*8.5*8.5*8.5*8.5+(9.5-3)*(9.5-3)+100.2
print(int(ans))

44512

In [64]:
ans=pow(8.5,5)+pow((9.5-3),2)+100.2
print(int(ans))

44512

In [65]:
import math

In [66]:
math.fabs(-12.34)

12.34

In [67]:
math.ceil(5.6)

6

In [68]:
math.floor(5.6)

5

In [69]:
math.exp(1)

2.718281828459045

In [70]:
math.log(2.71828)

0.999999327347282

In [71]:
print('%.2f'%math.log(2.71828))

1.00

In [72]:
math.log(1000,10)

2.9999999999999996

In [73]:
math.sqrt(100)

10.0

In [74]:
math.sin(0)

0.0

In [75]:
math.sin(1/2*math.pi)

1.0

In [76]:
math.sin(math.pi)

1.2246467991473532e-16

In [77]:
math.sin(3/2*math.pi)

-1.0

In [78]:
math.sin(2*math.pi)

-2.4492935982947064e-16

In [81]:
math.cos(0)

1.0

In [82]:
math.cos(1/2*math.pi)

6.123233995736766e-17

In [83]:
math.cos(math.pi)

-1.0

In [84]:
math.cos(3/2*math.pi)

-1.8369701987210297e-16

In [85]:
math.cos(2*math.pi)

1.0

In [86]:
math.tan(0)

0.0

In [87]:
math.tan(1/4*math.pi)

0.9999999999999999

In [88]:
math.tan(5/4*math.pi)

0.9999999999999997

In [89]:
math.tan(-1/4*math.pi)

-0.9999999999999999

In [90]:
math.tan(3/4*math.pi)

-1.0000000000000002

In [92]:
math.tan(math.pi)

-1.2246467991473532e-16

In [93]:
math.tan(0)

0.0

In [94]:
math.radians(90)

1.5707963267948966

In [95]:
math.radians(180)

3.141592653589793

In [96]:
math.degrees(1/2*math.pi)

90.0

In [97]:
math.degrees(math.pi)

180.0

In [99]:
import math
side = eval(input('Enter the length of side:'))
area = (5*side*side)/(4*math.tan(math.pi/5))
print(area)

Enter the length of side:6.5
72.69017017488386

In [104]:
import math
n1,n2,n3=eval(input('Enter three numbers:'))
mean=(n1+n2+n3)/3
variance=(pow((n1-mean),2)+pow((n2-mean),2)+pow((n3-mean),2))/3
sd=math.sqrt(variance)
print('variance is %.2f,and standand deviation is %.2f'%(variance,sd))

Enter three numbers:10,20,30
variance is 66.67,and standand deviation is 8.16

In [103]:
import math
n1,n2,n3=eval(input('Enter three numbers:'))
mean=(n1+n2+n3)/3
variance=(pow((n1-mean),2)+pow((n2-mean),2)+pow((n3-mean),2))/3
sd=math.sqrt(variance)
print('variance is %.2f,and standand deviation is %.2f'%(variance,sd))

Enter three numbers:5,6,7
variance is 0.67,and standand deviation is 0.82

In [132]:
str(12.3)

TypeError: 'str' object is not callable

In [113]:
str(12)

SyntaxError: invalid syntax (<ipython-input-113-566173be8c82>, line 1)

In [112]:
ord('A')

65

In [114]:
ord('a')

97

In [115]:
chr(65)

'A'

In [116]:
chr(97)

'a'

In [119]:
a=-888
b=100
c=10
d=2
e=0.5
print(abs(a))
print(max(a,b,c,d,e))
print(min(a,b,c,d,e))
print(pow(c,d))
print(round(7.5))
print(round(6.5))
print(int(123.456))
print(round(123.456,2))

888
100
-888
100
8
6
123
123.46

In [125]:
import math
a=math.fabs(-123.45)
print(a)

b=math.ceil(8.8)
print(b)

c=math.floor(8.8)
print(c)

d=math.exp(1)
print(d)

e=math.log(100)
print(e)

f=math.log(100,10)
print(f)

g=math.sqrt(1000000)
print(g)

123.45
9
8
2.718281828459045
4.605170185988092
2.0
1000.0

In [126]:
m=math.tan(0)
print(m)

n=math.tan(2*math.pi)
print(n)

p=math.degrees(2*math.pi)
print(p)

q=math.radians(360)
print(q)

0.0
-2.4492935982947064e-16
360.0
6.283185307179586

In [127]:
x='Apple i'+str(8)
print(x)

y=ord('Z')
print(y)

z=chr(100)
print(z)

TypeError: 'str' object is not callable

In [141]:
import math
n,s=eval(input('Enter two numbers:'))
area=(n*pow(s,2))/(4*math.tan(math.pi/n))
print(area)

Enter two numbers:5,6.5
72.69017017488386

In [145]:
import math
x1,y1,x2,y2=eval(input('Enter x1,y1,x2,y2 is '))
Distance=math.sqrt(math.pow(x1-x2,2)+math.pow(y1-y2,2))
print(Distance)

Enter x1,y1,x2,y2 is 2,1,5.5,8
7.826237921249264

In [146]:
X=65
if X>60:
    X=X+5
print('X=%d'%(X))

X=70

In [150]:
numerator=eval(input('Please input numerator:'))
denominator=eval(input('Please input denominator:'))
if denominator!=0:
    ans=numerator/denominator
    print(numerator,'/',denominator,'=',ans)
print('Over')

Please input numerator:125
Please input denominator:25
125 / 25 = 5.0
Over

In [154]:
number=eval(input('Please input a number:'))
if number % 5 == 0:
    print(number,"is 5's multple")
print('Over')

Please input a number:5
5 is 5's multple
Over

In [155]:
numerator=eval(input('Please input numerator:'))
denominator=eval(input('Please input denominator:'))
if denominator!=0:
    ans=numerator/denominator
    print(numerator,'/',denominator,'=',ans)
else:
    print("Denominator is invalid")
print('Over')

Please input numerator:125
Please input denominator:25
125 / 25 = 5.0
Over

In [156]:
numerator=eval(input('Please input numerator:'))
denominator=eval(input('Please input denominator:'))
if denominator!=0:
    ans=numerator/denominator
    print(numerator,'/',denominator,'=',ans)
else:
    print("Denominator is invalid")
print('Over')

Please input numerator:125
Please input denominator:0
Denominator is invalid
Over

In [157]:
num=eval(input('Please input a number:'))
if num % 2 == 0:
    print(num,"is an even number.")
else:
    print(num,"is a odd number.")
print('Over')

Please input a number:88
88 is an even number.
Over

In [158]:
num=eval(input('Please input a number:'))
if num % 2 == 0:
    print(num,"is an even number.")
else:
    print(num,"is a odd number.")
print('Over')

Please input a number:89
89 is a odd number.
Over

In [161]:
number=eval(input('Please input a number:'))
if number>0:
    print(number,'is greater than 0')
else:
    if number<0:
        print(number,'is less than 0')
    else:
        print(number,'is equal to 0')
print('Over')

Please input a number:20
20 is greater than 0
Over

In [162]:
number=eval(input('Please input a number:'))
if number>0:
    print(number,'is greater than 0')
else:
    if number<0:
        print(number,'is less than 0')
    else:
        print(number,'is equal to 0')
print('Over')

Please input a number:-10
-10 is less than 0
Over

In [163]:
number=eval(input('Please input a number:'))
if number>0:
    print(number,'is greater than 0')
else:
    if number>0:
        print(number,'is less than 0')
    else:
        print(number,'is equal to 0')
print('Over')

Please input a number:0
0 is equal to 0
Over

In [164]:
number=eval(input('Please input a number:'))
if number>0:
    print(number,'is greater than 0')
elif number>0:
    print(number,'is less than 0')
else:
    print(number,'is equal to 0')
print('Over')

Please input a number:20
20 is greater than 0
Over

In [166]:
score=eval(input('Please input your score:'))
if score >= 80:
    print('Grade A')
elif score <=70:
    print('Grade B')
elif score >=60:
    print('Grade C')
elif score >=50:
    print('Grade D')
else:
    print('Grade E')

Please input your score:86
Grade A

In [167]:
score=eval(input('Please input your score:'))
if score >= 80:
    print('Grade A')
elif score <=70:
    print('Grade B')
elif score >=60:
    print('Grade C')
elif score >=50:
    print('Grade D')
else:
    print('Grade E')

Please input your score:62
Grade B

In [168]:
weight=eval(input('Please input your weight(kilogram):'))
height=eval(input('Please input your height(centimeter):'))
heightinMeters=height/100

bmi=weight/(heightinMeters*heightinMeters)
print('Your BMI is',format(bmi,'.2f'))

if bmi<18.5:
    print('Underweight')
elif bmi<25:
    print('Normal')
else:
    print('Obese')

Please input your weight(kilogram):70
Please input your height(centimeter):167
Your BMI is 25.10
Obese

In [169]:
weight=eval(input('Please input your weight(kilogram):'))
height=eval(input('Please input your height(centimeter):'))
heightinMeters=height/100

bmi=weight/(heightinMeters*heightinMeters)
print('Your BMI is',format(bmi,'.2f'))

if bmi<18.5:
    print('Underweight')
elif bmi<25:
    print('Normal')
else:
    print('Obese')

Please input your weight(kilogram):60
Please input your height(centimeter):167
Your BMI is 21.51
Normal

In [172]:
year=eval(input('Please enter which year?'))
if year %400==0 or (year %4==0 and year %100!=0):
    print(year,'is leap year')
else:
    print(year,'is not leap year')

Please enter which year?1997
1997 is not leap year

In [173]:
year=eval(input('Please enter which year?'))
if year %400==0 or (year %4==0 and year %100!=0):
    print(year,'is leap year')
else:
    print(year,'is not leap year')

Please enter which year?1976
1976 is leap year

In [174]:
number=eval(input('Please enter a number:'))

if number>=0:
    print(number)
else:
    print(-number)

Please enter a number:-100
100

In [175]:
number=eval(input('Please enter a number:'))

if number>=0:
    print(number)
else:
    print(-number)

Please enter a number:100
100

In [176]:
score=eval(input('Enter your score:'))
if score>=60:
    print('you pass')
else:
    print('you fail')

Enter your score:90
you pass

In [177]:
score=eval(input('Enter your score:'))
if score>=60:
    print('you pass')
else:
    print('you fail')

Enter your score:50
you fail

In [178]:
n1=eval(input('Enter n1:'))
n2=eval(input('Enter n2:'))

operator=input('Enter an arithmetic operator(+,-,*,/):')
result=0
if operator =='+':
    result=n1+n2
elif operator =='-':
    result=n1-n2
elif operator =='*':
    result=n1*n2
elif operator =='/':
    result=n1/n2
    
print('%.4f%c%.4f=%.4f'%(n1,operator,n2,result))

Enter n1:88
Enter n2:66
Enter an arithmetic operator(+,-,*,/):*
88.0000*66.0000=5808.0000

In [180]:
age=eval(input('請輸入年齡:'))
state=''

if age <6:
    state='童年'
elif age>=7 and age >=17:
    state='少年'
elif age >=18 and age<=40:
    state='青年'
elif age >=41 and age <=65:
    state='中年'
else:
    state='老年'
    
print('您的年齡屬於%s'%state)

請輸入年齡:18
您的年齡屬於少年

In [182]:
age=eval(input('請輸入年齡:'))
state=''

if age <6:
    state='童年'
elif age>=7 and age <=17:
    state='少年'
elif age >=18 and age<=40:
    state='青年'
elif age >=41 and age <=65:
    state='中年'
else:
    state='老年'
    
print('您的年齡屬於%s'%state)

請輸入年齡:45
您的年齡屬於中年

In [1]:
day=0
Q1='is your birthday in set?\n'+\
    "1   3   5   7\n"+\
    "9  11  13  15\n"+\
    "17 19  21  23\n"+\
    "25 27  29  31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(Q1))

if answer==1:
    day+=1
    
Q2='is your birthday in set?\n'+\
    "2   4   6   8\n"+\
    "10  12  14  16\n"+\
    "18  20  22  24\n"+\
    "26  28  30  31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(Q2))

if answer==1:
    day+=2
    
Q3='is your birthday in set?\n'+\
    "4   5   6   7\n"+\
    "12  13  14  15\n"+\
    "20  21  22  23\n"+\
    "28  29  30  31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(Q3))

if answer==1:
    day+=4
    
Q4='is your birthday in set?\n'+\
    "8   9   10  11\n"+\
    "12  13  14  15\n"+\
    "24  25  26  27\n"+\
    "28  29  30  31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(Q4))

if answer==1:
    day+=8
    
Q5='is your birthday in set?\n'+\
    "16  17  18  19\n"+\
    "20  21  22  23\n"+\
    "24  25  26  27\n"+\
    "28  29  30  31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(Q5))

if answer==1:
    day+=16
    
print('Your birthday is',day)

is your birthday in set?
1   3   5   7
9  11  13  15
17 19  21  23
25 27  29  31

Enter 1 for Yes and 0 for No:1
is your birthday in set?
2   4   6   8
10  12  14  16
18  20  22  24
26  28  30  31

Enter 1 for Yes and 0 for No:0
is your birthday in set?
4   5   6   7
12  13  14  15
20  21  22  23
28  29  30  31

Enter 1 for Yes and 0 for No:1
is your birthday in set?
8   9   10  11
12  13  14  15
24  25  26  27
28  29  30  31

Enter 1 for Yes and 0 for No:1
is your birthday in set?
16  17  18  19
20  21  22  23
24  25  26  27
28  29  30  31

Enter 1 for Yes and 0 for No:0
Your birthday is 13

In [2]:
count=1
while count<=100:
    print('Learning Python is fun!')
    count=count+1

Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!

In [3]:
total=0
total=1+2+3+4+5+6+7+8+9+10
print('1+2+3+...+10=',total)

1+2+3+...+10= 55

In [4]:
total=0
k=1
while k <=100:
    total=total+k
    k=k+1
print('1+2+3+...+100=',total)

1+2+3+...+100= 5050

In [5]:
evenTotal=0
k=2
while k<=100:
    evenTotal= evenTotal+k
    k=k+2
print('2+4+6+...+100=', evenTotal)

2+4+6+...+100= 2550

In [8]:
#while、for的互換
count=1
total=0
while count<=10:
    total=total+count
    count=count+1
print(total)


total=0
for count in range(1,11):
    total=total+count
print(total)

55
55

In [9]:
for k in range(1,6):
    print(k)

1
2
3
4
5

In [11]:
for k in range(6):
    print(k)

0
1
2
3
4
5

In [12]:
for k in range(1,10,2):
    print(k)

1
3
5
7
9

In [13]:
for k in range(10,1,-1):
    print(k)

10
9
8
7
6
5
4
3
2

In [14]:
for k in range(10,1,-2):
    print(k)

10
8
6
4
2

In [15]:
for k in range(10,2,-2):
    print(k)

10
8
6
4

In [16]:
for k in range(1,101):
    print('Learning Python is fun')

Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun
Learning Python is fun

In [17]:
total=0
for i in range(1,101):
    total+=i
print('1+2+3+...+100=',total)

1+2+3+...+100= 5050

In [18]:
total=0
for i in range(2,101,2):
    total+=i
print('2+4+...+100=',total)

2+4+...+100= 2550

In [19]:
total=0
num=0
while True:
    num+=1
    total+=num
    if total >=100:
        break
print('The num is',num)
print('Total is',total)

The num is 14
Total is 105

In [20]:
total=0
num=0
while True:
    num+=2
    total+=num
    if total >=1000:
        break
print('The num is',num)
print('Total is',total)

The num is 64
Total is 1056

In [21]:
total=0
num=1
while num<=100:
    if num %5==0:
        num+=1
        continue
    total+=num
    num+=1
print('The total is',total)

The total is 4000

In [22]:
total=0
num=1
while num<=100:
    num+=1
    if num %5!=0:
        continue
    total+=num
print('The total is',total)

The total is 1050

In [23]:
total=0
num=0
while num<=100:
    num+=1
    if num%5==0:
        break
    total += num
print('the total is',total)

the total is 10

In [24]:
oddtotal=0
k=1
while k<=100:
    oddtotal=oddtotal+k
    k=k+2
print('1+3+5+...+99=',oddtotal)

1+3+5+...+99= 2500

In [26]:
for i in range(1,10):
    print('i=',i)
    for j in range(1,10):
        print(' j=',j)
    print('')

i= 1
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i= 2
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i= 3
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i= 4
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i= 5
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i= 6
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i= 7
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i= 8
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i= 9
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

In [27]:
i=10
j=20

print('%d*%d=%3d'%(i,j,i*j))

10*20=200

In [28]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(i,j,i*j))

1*1= 1
1*2= 2
1*3= 3
1*4= 4
1*5= 5
1*6= 6
1*7= 7
1*8= 8
1*9= 9
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1= 3
3*2= 6
3*3= 9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1= 4
4*2= 8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1= 5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1= 6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1= 7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1= 8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1= 9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [29]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(i,j,i*j),end='')

1*1= 11*2= 21*3= 31*4= 41*5= 51*6= 61*7= 71*8= 81*9= 92*1= 22*2= 42*3= 62*4= 82*5=102*6=122*7=142*8=162*9=183*1= 33*2= 63*3= 93*4=123*5=153*6=183*7=213*8=243*9=274*1= 44*2= 84*3=124*4=164*5=204*6=244*7=284*8=324*9=365*1= 55*2=105*3=155*4=205*5=255*6=305*7=355*8=405*9=456*1= 66*2=126*3=186*4=246*5=306*6=366*7=426*8=486*9=547*1= 77*2=147*3=217*4=287*5=357*6=427*7=497*8=567*9=638*1= 88*2=168*3=248*4=328*5=408*6=488*7=568*8=648*9=729*1= 99*2=189*3=279*4=369*5=459*6=549*7=639*8=729*9=81

In [32]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(i,j,i*j),end='  ')
    print()

1*1= 1  1*2= 2  1*3= 3  1*4= 4  1*5= 5  1*6= 6  1*7= 7  1*8= 8  1*9= 9
2*1= 2  2*2= 4  2*3= 6  2*4= 8  2*5=10  2*6=12  2*7=14  2*8=16  2*9=18
3*1= 3  3*2= 6  3*3= 9  3*4=12  3*5=15  3*6=18  3*7=21  3*8=24  3*9=27
4*1= 4  4*2= 8  4*3=12  4*4=16  4*5=20  4*6=24  4*7=28  4*8=32  4*9=36
5*1= 5  5*2=10  5*3=15  5*4=20  5*5=25  5*6=30  5*7=35  5*8=40  5*9=45
6*1= 6  6*2=12  6*3=18  6*4=24  6*5=30  6*6=36  6*7=42  6*8=48  6*9=54
7*1= 7  7*2=14  7*3=21  7*4=28  7*5=35  7*6=42  7*7=49  7*8=56  7*9=63
8*1= 8  8*2=16  8*3=24  8*4=32  8*5=40  8*6=48  8*7=56  8*8=64  8*9=72
9*1= 9  9*2=18  9*3=27  9*4=36  9*5=45  9*6=54  9*7=63  9*8=72  9*9=81

In [33]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(j,i,i*j),end='  ')
    print()

1*1= 1  2*1= 2  3*1= 3  4*1= 4  5*1= 5  6*1= 6  7*1= 7  8*1= 8  9*1= 9
1*2= 2  2*2= 4  3*2= 6  4*2= 8  5*2=10  6*2=12  7*2=14  8*2=16  9*2=18
1*3= 3  2*3= 6  3*3= 9  4*3=12  5*3=15  6*3=18  7*3=21  8*3=24  9*3=27
1*4= 4  2*4= 8  3*4=12  4*4=16  5*4=20  6*4=24  7*4=28  8*4=32  9*4=36
1*5= 5  2*5=10  3*5=15  4*5=20  5*5=25  6*5=30  7*5=35  8*5=40  9*5=45
1*6= 6  2*6=12  3*6=18  4*6=24  5*6=30  6*6=36  7*6=42  8*6=48  9*6=54
1*7= 7  2*7=14  3*7=21  4*7=28  5*7=35  6*7=42  7*7=49  8*7=56  9*7=63
1*8= 8  2*8=16  3*8=24  4*8=32  5*8=40  6*8=48  7*8=56  8*8=64  9*8=72
1*9= 9  2*9=18  3*9=27  4*9=36  5*9=45  6*9=54  7*9=63  8*9=72  9*9=81

In [34]:
import random
random.random()

0.5974179823244626

In [36]:
random.random()

0.678971411229329

In [35]:
random.randint(1,49)

35

In [37]:
random.randint(1,38)

36

In [39]:
import random
for i in range(1,101):
    randomNumber=random.randint(1,100)
    print(randomNumber,end=' ')

6 75 80 14 95 15 88 41 12 62 71 54 51 28 47 67 46 80 34 27 44 46 59 96 92 13 35 25 8 9 63 52 29 99 64 5 66 1 84 92 89 58 3 82 32 75 60 83 37 7 48 57 76 6 25 69 1 13 48 26 83 12 17 53 44 47 83 21 87 91 6 60 76 15 9 51 33 66 40 29 24 3 75 12 66 62 2 10 32 35 52 68 71 92 97 12 8 43 65 74

In [41]:
import random
evenCount=0
oddCount=0
for i in range(1,101):
    randomNumber=random.randint(1,100)
    print(randomNumber,end=' ')
    if randomNumber%2==0:
        evenCount+=1
oddCount=100-evenCount

print('\nEven number:',evenCount,'\nOdd number:',oddCount)

21 33 41 58 79 50 35 73 28 46 74 79 82 63 88 24 33 99 72 4 99 7 93 88 21 25 50 40 53 51 12 6 91 25 66 51 51 6 40 82 81 61 43 48 30 56 63 37 73 89 51 60 47 38 64 42 60 30 70 90 37 100 39 19 96 47 81 63 71 76 90 94 13 27 29 9 79 50 48 20 62 48 65 19 42 64 11 31 30 46 65 49 12 33 87 6 52 28 9 52
Even number: 49
Odd number: 51

In [43]:
import random
evenCount=0
oddCount=0
for i in range(1,101):
    randomNumber=random.randint(1,100)
    if i%10==0:
        print('%5d'%(randomNumber))
    else:
        print('%5d'%(randomNumber),end=' ')
    if randomNumber%2==0:
        evenCount+=1
oddCount=100-evenCount

print('\nEven number:',evenCount,'\nOdd number:',oddCount)

   38    59    42    54    91    66    79     3    39    68
   18    36    53    81    95    51     2    79    39    18
   43    87    34    86    72    36    71    42    94    21
   17    30    38    61    40    31    47     5    34    24
   92    81    59    61     3    16    42    21    58    80
   83     5    68    70    75    54    79    70    74    57
   74    91    15    60    72    64     3    14     2    26
   62    34    91    88    86    19     8    27    24    25
   27    11    39    35    63    89    47     2    39    65
   94     9    82    29    61    50    70    82    33    75

Even number: 49
Odd number: 51

In [1]:
number=eval(input('Please input an integer:'))
divisor=2
flag=1
while divisor<number:
    if number % divisor == 0:
        #if true,number is not prime number
        flag=0
        break
    divisor+=1
if flag == 0:
    print(number,'is not prime number')
else:
    print(number,'is prime number')

Please input an integer:223
223 is prime number

In [2]:
number=eval(input('Please input an integer:'))
divisor=2
flag=1
while divisor<number:
    if number % divisor == 0:
        #if true,number is not prime number
        flag=0
        break
    divisor+=1
if flag == 0:
    print(number,'is not prime number')
else:
    print(number,'is prime number')

Please input an integer:220
220 is not prime number

In [3]:
number=eval(input('Please input an integer:'))
divisor=2
flag=1
while divisor<=number/2:
    if number % divisor == 0:
        #if true,number is not prime number
        flag=0
        break
    divisor+=1
if flag == 0:
    print(number,'is not prime number')
else:
    print(number,'is prime number')

Please input an integer:223
223 is prime number

In [7]:
for number in range(2,1001):
    divisor=2
    flag=1
    while divisor<=number/2:
        if number % divisor == 0:
            flag=0
            break
        divisor+=1
    if flag==1:
        print(number,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [8]:
count=0
for number in range(2,1001):
    divisor=2
    flag=1
    while divisor<=number/2:
        if number % divisor == 0:
            flag=0
            break
        divisor+=1
    if flag==1:
        count+=1
        if count%10==0:
            print('%5d'%(number))
        else:
            print('%5d'%(number),end=' ')

    2     3     5     7    11    13    17    19    23    29
   31    37    41    43    47    53    59    61    67    71
   73    79    83    89    97   101   103   107   109   113
  127   131   137   139   149   151   157   163   167   173
  179   181   191   193   197   199   211   223   227   229
  233   239   241   251   257   263   269   271   277   281
  283   293   307   311   313   317   331   337   347   349
  353   359   367   373   379   383   389   397   401   409
  419   421   431   433   439   443   449   457   461   463
  467   479   487   491   499   503   509   521   523   541
  547   557   563   569   571   577   587   593   599   601
  607   613   617   619   631   641   643   647   653   659
  661   673   677   683   691   701   709   719   727   733
  739   743   751   757   761   769   773   787   797   809
  811   821   823   827   829   839   853   857   859   863
  877   881   883   887   907   911   919   929   937   941
  947   953   967   971   977   983   991   997

In [10]:
number1=eval(input('Please input an integer:'))
number2=eval(input('Please input an integer:'))
gcd=1
k=2
while k <= number1 and k<= number2:
    if number1 % k==0 and number2 %k==0:
        gcd=k
    k+=1
print('The GCD for',number1,'and',number2,'is',gcd)

Please input an integer:125
Please input an integer:2525
The GCD for 125 and 2525 is 25

In [9]:
numerator1=eval(input('Please input an numerator1:'))
denominator1=eval(input('Please input an denominator1:'))

numerator2=eval(input('Please input an numerator2:'))
denominator2=eval(input('Please input an denominator2:'))

number1=numerator1*denominator2+numerator2*denominator1
number2=denominator1*denominator2

gcd=1
k=2
while k <= number1 and k<= number2:
    if number1%k==0 and number2%k==0:
        gcd=k
    k+=1
print('The GCD for',number1,'and',number2,'is',gcd)
print('%d/%d+%d/%d='%(numerator1,denominator1,numerator2,denominator2))
print('%d/%d'%(number1/gcd,number2/gcd))

Please input an numerator1:1
Please input an denominator1:2
Please input an numerator2:1
Please input an denominator2:6
The GCD for 8 and 12 is 4
1/2+1/6=
2/3

In [12]:
import random
for i in range(1,7):
    k=random.randint(1,49)
    print(k,end=' ')

8 9 38 41 8 45

In [13]:
fiveMulti =0
k=5
while k<=100:
    fiveMulti+=k
    k+=5
print(fiveMulti)

1050

In [15]:
for i in range(10):
    print(i,end=' ')
print('')

for i in range(2,10):
    print(i,end=' ')
print('')

for i in range(1,10,2):
    print(i,end=' ')
print('')

for i in range(9,1,-2):
    print(i,end=' ')
print('')

0 1 2 3 4 5 6 7 8 9
2 3 4 5 6 7 8 9
1 3 5 7 9
9 7 5 3

In [16]:
for i in range(10):
    print('%3d'%(i),end=' ')
print('')

for i in range(2,10):
    print('%3d'%(i),end=' ')
print('')

for i in range(1,10,2):
    print('%3d'%(i),end=' ')
print('')

for i in range(9,1,-2):
    print('%3d'%(i),end=' ')
print('')

  0   1   2   3   4   5   6   7   8   9
  2   3   4   5   6   7   8   9
  1   3   5   7   9
  9   7   5   3

In [17]:
total=0
num=0
while True:
    num+=1
    total += num
    if total >= 5050:
        break
print('1+2+3+...+%d=%d'%(num,total))

1+2+3+...+100=5050

In [18]:
total=0
num=1
while num<=100:
    if num%2==0:
        num+=1
        continue
    total += num
    num += 1
print('1+3+5+...+99=',total)

1+3+5+...+99= 2500

In [1]:
total=0
for i in range(1,101):
    if i % 2 == 1:
        total += i
    else:
        continue
print('1+3+5+...+99=',total)

1+3+5+...+99= 2500

In [11]:
for i in range(10):
    for j in range(i,10):
        print('*',end=' ')
    print('')

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
for i in range(9):
    for j in range(i):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [4]:
total = 0
i = 1
while i <= 100:
    i += 1
    total += i
print('total=%d'%total)

total=5150

In [5]:
total = 0
i = 1
while i < 100:
    total += i
    i += 1
print('total=%d'%total)

total=4950

In [8]:
i = 8
while i >= 1:
    j = 1
    while j <= i:
        print('%2d'%(j),end = '')
        j += 1
    print()
    i -= 1
print()

 1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7
 1 2 3 4 5 6
 1 2 3 4 5
 1 2 3 4
 1 2 3
 1 2
 1

In [9]:
total = 0
for i in range(100,1,2):
    total += i
print('total = %d'%(total))

total = 0

In [10]:
total = 0
for i in range(100,1,-2):
    total += i
print('total = %d'%(total))

total = 2550

In [11]:
i = 6
while i >= 1:
    j = 1
    while j <= i:
        print('%2d'%(j),end = '')
        j += 1
    print()
    i -= 1
print()

 1 2 3 4 5 6
 1 2 3 4 5
 1 2 3 4
 1 2 3
 1 2
 1

In [2]:
total=0
for i in range(1,100):
    if i % 3 == 0:
        total += i
    else:
        continue
print('3+6+9+...+99=',total)

3+6+9+...+99= 1683

In [9]:
import random
for i in range(1,7):
    k=random.randint(1,38)
    print(k,end=' ')
for j in range(1):
    s=random.randint(1,8)
    print(s)

31 31 15 29 22 23 5

In [12]:
for i in range(8):
    for j in range(i,8):
        print('*',end=' ')
    print('')

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
for i in range(9):
    for j in range(i):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *